/* Explore page --------------------------*/
.explore {
    display: flex;
    justify-content: center;

}

.explore-title{
    display: flex;
    justify-content: center;
}

.explore-title > h2{
    font-size: 3em;
}

.tag-select {
    width: 20em;
    /* box-shadow: 0px 1px 2.5px 1px #dadada; */
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-light-grey);
}

.tag-select > select {
    height: 3em;
    margin-left: 1em;
}

.tag-select > input{
    height: 3em;
    margin-left: 1em;
    width: 10em;
}

.tag-item{
    height: 3em;
    width: 5em;
    /* border: #000000 solid 1px; */
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


