/* Fill-in page --------------------------*/
.questions {
    padding: 0.8em;
    margin: 0.8em 0em;
    display: flex;
    flex-direction: column;

}

.question-card {
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

label { 
    display: block; 
    width: 100%; 
}
