
/* Form page --------------------------*/
.page-navbar {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    /* background-color: var(--theme-extra-light); */
    margin: 3% 5%;
}

.page-navbar-item{
    height: 3em;
    width: 150px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--theme-extra-light);
    margin: 5px;
}

.loading-container{
    display:flex;
    height: 40em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.alert-modal{
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

/* Statistics page --------------------------*/

.stat_table
{
    padding-left:2px;
    display: flex;
    flex-direction: row;
    max-height: 50%;
}

.stat-items{
    /* height: 15px;  */
    display:inline-block; 
    /*border-left: 2px solid #777; */
    padding:1.3px;
    /* padding-bottom:20px; */
    color:#777;
    margin-top:10px;
    font-size: 18px;
  }

.stat_a{
    height: 15px; 
    display:inline-block; 
    padding:0 15px;
    padding-bottom:20px;
    margin-top:10px;
    font-size: 20px;
    color:var(--theme-dark-purple);
    text-align:right;
}


.stat_scroll{
    overflow: auto; 
    max-height: 500px;
    max-width: 50%;
}

.no-border{
    border: var(--theme-light-grey) solid 0.2em;
    background-color: var(--theme-light-grey);
    border-radius: 2em;
}

@media only screen and (max-width: 600px) {
    .lottery-page-container{
        align-items: center;
    }
    .page-navbar{
        width: 80%;
        justify-content: center;
    }
    .page-navbar-item{
        height: 2.5em;
        width: 33%;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--theme-extra-light);
        margin: 5px;
    }
    .lottery-container {
        width:100%;
        flex-direction: column;
        align-items: center;
    }
    .lottery-results {
        margin: 0;
        margin-bottom: 2em;
        width: 100%;
    }
    .form-info {
        margin: 0;
        width: 100%;
    }
    .lottery-card {
        padding: 0.8em;
        margin: 0.8em 0em;
        display: flex;
        flex-direction: column;
    }
}