
/* Form page --------------------------*/
.page-navbar {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    /* background-color: var(--theme-extra-light); */
    margin: 3% 5%;
}

.page-navbar-item{
    height: 3em;
    width: 33%;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--theme-extra-light);
    margin: 5px;
}

.loading-container{
    display:flex;
    height: 40em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat_table
{
    padding-left:2px;
    display: flex;
    flex-direction: row;
    max-height: 50%;
}

.stat-items{
    /* height: 15px;  */
    display:inline-block; 
    border-left: 2px solid #777; 
    padding:1.3px;
    /* padding-bottom:20px; */
    color:#777;
    margin-top:10px;
    font-size: 18px;
  }

.stat_a{
    height: 15px; 
    display:inline-block; 
    padding:0 15px;
    padding-bottom:20px;
    margin-top:10px;
    font-size: 20px;
    color:var(--theme-dark-purple);
    text-align:right;
}


.stat_scroll{
    overflow: auto; 
    max-height: 500px;
    max-width: 50%;
}

.no-border{
    border: var(--theme-light-grey) solid 0.2em;
    background-color: var(--theme-light-grey);
    border-radius: 2em;
}