/* profile page */
.profile-header{
    margin: 1em 1em 1em 1em;
}

.profile_card{
    background-color: var(--theme-purple);
    color: #ffffff;
    width: 40%;
    height:40em;
    border-radius: 0.5em;
    box-shadow: 0px 1px 2.5px 1px #dadada;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    transform: translate(20px, 20px);
    text-align: center;
    justify-content:center;
}

.top-section{
    justify-content:left;
    display:flex;
    flex-direction: row;
    display: flex; 
}

.top-section .photo{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: 70px 5px 5px 60px;
}

.top-section .camera{
    width: 40px;
    height:40px;
    border-radius: 50%;
    margin-top: 240px;
    margin-left: -50px;
    border-width: 0;
}

.top-section .name{
    font-size: 35px;
    margin: 120px 5px 5px 150px;
    color: black;
}

.top-section .email{
    font-size: 25px;
    margin: 30px 5px 5px 150px;
    color: var(--theme-purple)
}

.top-section .self-intro{
    margin: 10px 5px 5px 150px;
    width: 120%;
    height: 100px;
    border-color:#f9f9f9;
    border-width: 1px;
    border-radius: 0;
    resize: none;
}

hr.solid {
    border-top: 3px solid #b79fd5;
    margin-top: 50px;
}

.profile_card_container{
    display:flex;
    flex-direction: row;
    display: flex; 
    justify-content: center;
}

.profile_card_right {
    width: 70em;
    height:65em;
    border-radius: 0.5em;
    box-shadow: 0px 1px 2.5px 1px #dadada;
    padding: 0.8em;
    margin: 1em 1em 1em 1em;
    flex-direction: column;
    transform: translate(20px, 20px);
    float:left;
    text-align:left;
    background-color: #ffffff;
}

.profile-content{
    justify-content:left;
    display:flex;
    flex-direction: row;
    display: flex; 
}

.profile-name{
    margin: 58px 200px 0px 100px;
}

.profile-bar-gray{
    margin: 50px 10px;
    width: 45%;
    height: 40px;
    border-color:#cccccc;
    border-width: 1px;
    border-radius: 0;
    font-size: 20px;
    background-color: #dedede;
}

.profile-bar{
    margin: 58px 10px;
    width: 45%;
    height: 40px;
    color:var(--theme-purple);
    font-size: 20px;
}

.pencil{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 60px 0px 5px 0px;
}

.edit-profile{
    margin-top: -10px;
    font-size: 1.2em;
    justify-content:right;
    margin-left: 85%;
    background-color: var(--theme-dark-purple);
    border-color: var(--theme-dark-purple);
    border-radius: 0.4em;
    width: 7em;
    height: 2.5em;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

/* profile page done */
