/* Register page --------------------------*/
.reg_card_container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 0;
    margin-top: 5%;
}

.register_card_left {
    width: 40%;
    height: 100%;
    border-radius: 0.5em;
    box-shadow: 0px 1px 2.5px 1px #dadada;
    padding: 0.8em;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    float: left;
    text-align: center;
    background-color: #ffffff;
}

.reg_description {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* transform: translateY(-2em); */
    /* margin: 0.5em 5.5em; */
    color: var(--theme-purple);
}

.register_card_right {
    width: 50%;
    height: 100%;
    border-radius: 0.5em;
    box-shadow: 0px 1px 2.5px 1px #dadada;
    padding: 0.8em;
    flex-direction: column;
    float: left;
    text-align: left;
    background-color: #ffffff;
    position: relative;
    z-index: 0;
}
.input_content{
    margin: 0.6em 1em;
    display: flex;
    flex-direction: column;
}

.register_verification{
    margin: 0.4em 0em;
    display:flex;
    flex-direction: row;
    justify-content:left;
    float:left;
}

.ver_submit{
    border: var(--theme-dark-purple) solid 0.15em;
    border-radius: 0.3em;
    background-color: var(--theme-purple);
    color: #ffffff;
    margin-left: 1em;
    width: 7em;
    height: 1.8em;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    float: left;
    flex-direction: row;
}

.reg_submit_gray{
    border: #dadada solid 0.15em;
    border-radius: 0.3em;
    background-color: #fbfafc;
    color: #dadada;
    margin: 3em 1em;
    width: 5em;
    height: 2.25em;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}

.reg_submit{
    border: var(--theme-dark-purple) solid 0.15em;
    border-radius: 0.3em;
    background-color: #fbfafc;
    color: var(--theme-dark-purple);
    margin: 3em 1em;
    width: 5em;
    height: 2.25em;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}

.reg_inputbar{
    width: 45%;
    border-radius: 0.3em;
    height: 2.5em;
    display:flex;
    flex-direction: row;
    justify-content:left;
    float:left;
}


.reg-valid{
    display:flex;
    flex-direction: row;
    display: flex; 
    justify-content: left;
}

.reg-valid font {
    font-size: 0.9rem;
    margin-top: 0.4rem;
    color: #f00e0e;
    margin-left: 2em;
}

.reg-valid text {
    font-size: 0.9rem;
    margin-top: 0.4rem;
    color: #0ef03b;
    margin-left: 2em;
}

.reg-password-content{
    display:flex;
    flex-direction: row;
    display: flex; 
    justify-content: left;
}

.reg-password-content font {
    font-size: 0.9rem;
    margin-top: 0.4rem;
    color: #f00e0e;
    margin-left: 2em;
}

.reg-password-content text {
    font-size: 0.9rem;
    margin-top: 0.4rem;
    color: #0ef03b;
    margin-left: 2em;
}

.eye{
    background: none;
    border-width: 0;
    margin-top: 5px;
}

.member_rule{
    margin:0.8em, 1em;
    display: flex;
    flex-direction: row;

}

.box{
    width: 50px;
    height: 25px;
}

.member_rule font{
    margin-top: 6px;
}

.member_info{
    border: 0em;
    background-color: #ffffff;
    color: var(--theme-purple);
    font-size: medium;
}
/* end Register page --------------------------*/

@media only screen and (max-width: 600px) {
    .register_card_left{
        display: none;
    }
    .register_card_right{
        width:98%;
    }

}