* {
  box-sizing: border-box;
}

:root {
  --theme-color: #8864b3;
  --theme-color-dark: #432a58;
  --hover-color: rgba(77, 14, 179, 0.03);
}

html,
body {
  height: 100%;
  margin: 0%;
  font: 14px 'Montserrat', Helvetica, Arial, sans-serif;
  background: #ffffff;
  overflow: visible;
  color: var(--theme-color-dark);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--theme-color-dark) solid 4px;
}

button:hover{
  cursor: pointer;
}

.app-title {
  flex-grow: 1;
  margin-left: 2em;
}

.navbar {
  flex-grow: 0.2;
  display: flex;
  justify-content: center;
  height: 6vh;
  transform: translateX(-5vw);  
}

.nav-option {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  font-size: 2vh;
  font-weight: 700;
}

.nav-option:hover {
  background-color: var(--hover-color);
}

.user-dropdown-options{
  display: none;
  position: absolute;
  width: 8vw;
  height: 15vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px 2px #dadada;
  transform: translateY(10vh);
}

.user-dropdown:hover .user-dropdown-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-dropdown-options > * {
  all: unset;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-dropdown-options > *:hover {
  background-color: var(--hover-color);
}

.card {
  width: 18em;
  border-radius: 0.5em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
  padding: 0.8em;
  margin: 0.8em 0.2em;
  display: flex;
  flex-direction: column;
  transform: translate(20px, 20px);
}

.prize-tag {
  width: max-content;
  padding: 0.2em 0.8em;
  margin-bottom: 1em;
  background-color: var(--theme-color);
  color: #ffffff;
  border-radius: 1em;
}

.share-q {
  all: unset;
  width: 5em;
  height: 2.5em;
  border: var(--theme-color) solid 0.2em;
  border-radius: 0.5em;
  text-align: center;
  font-weight: 800;
}


.share-q:hover{
  background-color: var(--hover-color);
}

.call-to-action {
  background-color: var(--theme-color);
  color: #fbfafc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38em;
}

.main-image {
  height: 30em;
  width: 40em;
}

.description {
  padding-left: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30em;
  transform: translateY(-2em);
}

.description > h2 {
  font-size: 3em;
}

.description > h3 {
  font-weight: 100;
  font-size: 1.3em;
  transform: translateY(-2em);
}

.cta-button {
  transform: translateY(-2em);
}

.explore-button {
  all: unset;
  background-color: var(--theme-color-dark);
  border-radius: 0.7em;
  width: 6em;
  height: 2.5em;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}

.make-survey-button {
  all: unset;
  border: var(--theme-color-dark) solid 0.25em;
  border-radius: 0.7em;
  background-color: #fbfafc;
  color: var(--theme-color-dark);
  margin-left: 1.3em;
  width: 5.75em;
  height: 2.25em;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 900;
  padding: 2em;
}

.showcase-image {
  width: 5em;
  margin: 0.6em;
}

.latest-q {
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-q-container {
  width: 90em;
  height: 90em;
}

.latest-q-container > h2{
  text-align: center;
  font-size: 4em;
  font-weight: 900;
}

.latest-q-container > h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
  transform: translateY(-1em);
}

.card-container {
  display: flex;
  justify-content: center;
}
/* border: #000000 solid 1px; */
