* {
  box-sizing: border-box;
}

:root {
  --theme-pink: #FDCDD6;
  --theme-purple: #8864b3;
  --theme-dark-purple: #432a58;
  --theme-black: #0f0b2b;
  --theme-light-grey: #ebe9f0;
  --theme-extra-light: #fbfafc;
}

html,
body {
  height: 100%;
  margin: 0%;
  font: 14px 'Montserrat', Helvetica, Arial, sans-serif;
  background: #ffffff;
  overflow: visible;
  color: var(--theme-dark-purple);
}

/* Header --------------------------*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--theme-dark-purple) solid 4px;
}

button:hover{
  cursor: pointer;
}

.app-title {
  flex-grow: 1;
  margin-left: 2em;
}

.app-title > a {
  text-decoration: none;
}

.app-title > a:active {
  color: var(--theme-pink);
}

.navbar {
  flex-grow: 0.2;
  display: flex;
  justify-content: center;
  height: 6vh;
  transform: translateX(-5vw);  
}

.nav-option {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  font-size: 1.5vh;
  font-weight: 700;
  cursor: pointer;
}

.nav-option:hover {
  background-color: var(--theme-pink);
}

.user-dropdown-options{
  display: none;
  position: absolute;
  width: 8vw;
  height: 15vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px 2px #dadada;
  transform: translateY(10vh);
}

.user-dropdown:hover .user-dropdown-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-dropdown-options > * {
  all: unset;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-dropdown-options > *:hover {
  background-color: var(--theme-pink);
}

/* Card --------------------------*/

.card {
  width: 18em;
  border-radius: 0.5em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
  padding: 0.8em;
  margin: 0.8em 0.2em;
  display: flex;
  flex-direction: column;
  transform: translate(20px, 20px);

}

.prize-tag {
  width: max-content;
  padding: 0.2em 0.8em;
  margin-bottom: 1em;
  background-color: var(--theme-purple);
  color: #ffffff;
  border-radius: 1em;
}

.share-q {
  all: unset;
  width: 5em;
  height: 2.5em;
  border: var(--theme-purple) solid 0.4em;
  border-radius: 0.5em;
  text-align: center;
  font-weight: 800;
}


.share-q:hover{
  background-color: var(--theme-pink);
}

/* Footer --------------------------*/
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  background-color: var(--theme-pink);
}

.copyright{
  transform: translateX(80%);
  font-weight: 600;
  color: var(--theme-dark-purple);
}

.footer-link{
  display: flex;
  width: 20em;
  align-items: center;
  justify-content: space-between;
}

.footer-link > a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 900;
  color: var(--theme-dark-purple);
}

/* Home page --------------------------*/

.call-to-action {
  background-color: var(--theme-purple);
  color: #fbfafc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38em;
}

.main-image {
  height: 30em;
  width: 40em;
}

.description {
  padding-left: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30em;
  transform: translateY(-2em);
}

.description > h2 {
  font-size: 3em;
}
.description > h3 {
  font-weight: 100;
  font-size: 1.3em;
  transform: translateY(-2em);
}

.cta-button {
  transform: translateY(-2em);
}

.explore-button {
  all: unset;
  background-color: var(--theme-dark-purple);
  border-radius: 0.7em;
  width: 6em;
  height: 2.5em;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}

.make-survey-button {
  all: unset;
  border: var(--theme-dark-purple) solid 0.25em;
  border-radius: 0.7em;
  background-color: #fbfafc;
  color: var(--theme-dark-purple);
  margin-left: 1.3em;
  width: 5.75em;
  height: 2.25em;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 900;
  padding: 2em;
}

.showcase-image {
  width: 5em;
  margin: 0.6em;
}

.latest-q {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: #000000 solid 1px; */

}

.latest-q-container {
  width: 90em;
  height: 90em;
}

.latest-q-container > h2{
  text-align: center;
  font-size: 4em;
  font-weight: 900;
}

.latest-q-container > h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
  transform: translateY(-1em);
}

.card-container {
  display: flex;
  justify-content: center;
  
}

.page-div {
  display: flex;
  justify-content: center;
  font-size: 1.5em;  
}

.page {
  width: 3em;
  height: 3em;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* border: #000000 solid 1px; */

/* Explore page --------------------------*/
.explore-title{
  display: flex;
  justify-content: center;
}

.explore-title > h2{
  font-size: 3em;
}

.tag-select {
  width: 40em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-item{
  height: 3em;
  width: 5em;
  /* border: #000000 solid 1px; */
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


/* Lottery page ---------------------------------------------------*/

/* whole lottery page */
.lottery-page-container{
  display:flex;
  flex-direction: column;
}


/* left-hand side */
.lottery-container{
  display:flex;
  flex-direction: row;
}

.lottery-results{
  height: 100%;
  width: 60%;
  margin: 5%;
  margin-right: 1%;
  padding: 0.5em 2em;
  margin-bottom: 1em;
  border: var(--theme-light-grey) solid 0.1em;
  display: flex;
  flex-direction: column;
  border-radius: 1.5em;
}

.lottery-results > h2{
  font-size: 3em;
  font-weight: bold;
  color:#0f0b2b;
}

/* 用戶框架 */
.avator{
  width: 6em;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* transform: translate(5px, 5px); */
  padding: 1em;
  margin: 1em;
  font-size: 1em;
  font-weight: 600;
  /* background-color: var(--theme-light-grey); */
}

/* 用戶照片 */
.avator-image{
  width: 5.5em;
  margin: 0em;
  border-radius: 100%;
  border: var(--theme-light-grey) solid 0.1em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
}

/* 橫向用戶照片 */
.avator-container{
  display: flex;
  justify-content: left;
}

/* 獎品照片 */
.prize-image {
  width: 15em;
  margin: 1em;
  border-radius: 0.5em;
  border: var(--theme-light-grey) solid 0.1em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
}

/* 獎品與中獎者框框 */
.lottery-card {
  border-radius: 0.5em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
  padding: 0.8em;
  margin: 0.8em 0.2em;
  display: flex;
  flex-direction: column;
}

.lottery-card > h2{
  font-size: 1.5em;
  font-weight: bold;
}

/* 基本表單資訊 */
.form-info{
  height: 100%;
  width: 40%;
  margin: 5%;
  margin-left: 0%;
  padding: 0.5em 2em;
  margin-bottom: 1em;
  border: var(--theme-light-grey) solid 0.1em;
  display: flex;
  flex-direction: column;
}

.form-info > h2{
  color:#0f0b2b;
  font-size: 2em;
  font-weight: bold;
}

/* 獎品資訊 */
.prize-container{
  display: flex;
  /* justify-content: left; */
  flex-direction: column;
  margin-bottom: 1em; 
  align-items: left;
}

.prize-container > h3{
  font-size: 1.4em;
  font-weight: bold;
}

/* Register page --------------------------*/
.reg_card_container{
  display:flex;
  flex-direction: row;
  display: flex; 
  justify-content: center;
}

.register_card_left {
  width: 48em;
  height:55em;
  border-radius: 0.5em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
  padding: 0.8em;
  margin: 1em 1em 1em 1em;
  display: flex;
  flex-direction: row;
  transform: translate(20px, 20px);
  float:left;
  text-align: center;
}

.reg_description {
  padding-left: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45em;
  transform: translateY(-2em);
  margin: 0.5em 5.5em;
  color: var(--theme-purple);
}

.register_card_right {
  width: 50em;
  height:55em;
  border-radius: 0.5em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
  padding: 0.8em;
  margin: 1em 1em 1em 1em;
  flex-direction: column;
  transform: translate(20px, 20px);
  float:left;
  text-align:left;
}
.input_content{
  margin: 0.4em 1em;
  display: flex;
  flex-direction: column;
}

.register_verification{
  margin: 0.4em 0em;
  display:flex;
  flex-direction: row;
  justify-content:left;
  float:left;
}

.ver_submit{
  border: var(--theme-color-dark) solid 0.15em;
  border-radius: 0.3em;
  background-color: var(--theme-color);
  color: #ffffff;
  margin: 0em 3em;
  width: 10em;
  height: 2em;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  float:left;
  flex-direction: row;
}

.reg_submit{
  border: var(--theme-dark-purple) solid 0.15em;
  border-radius: 0.3em;
  background-color: #fbfafc;
  color: var(--theme-dark-purple);
  margin: 3em 1em;
  width: 5em;
  height: 2.25em;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.reg_inputbar{
  width: 45%;
  border-radius: 0.3em;
  height: 2.5em;
  display:flex;
  flex-direction: row;
  justify-content:left;
  float:left;
}

/* LoginModal Components --------------------------*/
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(142, 141, 141, 0.573);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  border: 0em;
  background-color: #ffffff;
  color: var(--theme-dark-purple);
}

.inputbar{
  width: 60%;
  border-radius: 0.3em;
  height: 2.5em;
  display: flex;
  text-align: left;
  margin: auto;
}

.forget-password{
  border: 0em;
  background-color: #ffffff;
  color: var(--theme-dark-purple);
  margin-top: 2em;
}

.submit{
  border: var(--theme-dark-purple) solid 0.15em;
  border-radius: 0.3em;
  background-color: #fbfafc;
  color: var(--theme-dark-purple);
  margin: 1em 1em;
  width: 5em;
  height: 2.25em;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.login-button{
  flex-direction: row;
  float:left;
}

/* 右下角的紫色按鈕 */
.form-buttons{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 3%;
}
.form-button {
  all: unset;
  background-color: var(--theme-dark-purple);
  border-radius: 0.4em;
  width: 6em;
  height: 2.5em;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  margin:0.5em;
  color: #FFFFFF;
}

/* survey_management */

.survey-container {
  width: 90em;
  height: 110em;
}

.survey-bar {
  display: flex;
  align-items: left;
  justify-content: center;
}

h2.manage-header {
  font-size: 3em;
  text-align: left;
}

h3.manage-header {
  font-size: 1.7em;
  text-align: left;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.survey-card {
  /* border-radius: 0.5em; */
  box-shadow: 0px 1px 2.5px 1px #dadada;
  padding: 2em;
  margin: 0.8em 0.8em;
  display: flex;
  flex-direction: column;
}

.survey-manage-buttons{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.instruction-container {
  width: 70em;
  height: 80em;
}

.prize-tag-management {
  width: max-content;
  padding: 0.4em 0.1em;
  margin-bottom: 1em;
  margin-right: 0.5em;
  background-color: var(--theme-purple);
  color: #ffffff;
  border-radius: 1em;
  display: inline-block;
}

.tag-container {
  text-align:center;
}

.share-q-management {
  all: unset;
  width: 5em;
  height: 2.5em;
  border: var(--theme-purple) solid 0.4em;
  border-radius: 0.5em;
  text-align: center;
  font-weight: 800;
  display: inline-block;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.card-container-management {
  display: flex;
  /* #justify-content: center; */
  overflow: auto;
  white-space: nowrap;
  
}



/* make survey page by Jui Hsin Hsiao*/
.makeSurvey-container{
  display:flex;
  flex-direction: row;
}

.makeSurvey-results{
  height: 100%;
  width: 60%;
  margin: 5%;
  margin-right: 1%;
  padding: 0.5em 2em;
  margin-bottom: 1em;
  /*border: var(--theme-light-grey) solid 0.1em;*/
  display: flex;
  flex-direction: column;
}

.makeSurvey-results > h2{
  font-size: 2em;
  font-weight: bold;
}


.makeSurvey-card {
  border-radius: 0.5em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
  padding: 0.8em;
  margin: 0.8em 0.2em;
  display: flex;
  flex-direction: column;
}

.makeSurvey-card > h2{
  font-size: 1.2em;
  font-weight: bold;
}

.makeSurvey-info{
  height: 100%;
  width: 40%;
  margin: 5%;
  margin-left: 0%;
  padding: 0.5em 2em;
  margin-bottom: 1em;

  display: flex;
  flex-direction: column;
}

.makeSurvey-info > h2{
  font-size: 2em;
  font-weight: bold;
}



.SurveyDescriptionBtn {
  width: 220px;
  height: 120px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 1px;
  border-color: #e7e7e7;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-align: start;
  }

  .Btn:hover {
    background-color: #8864b3;
    color: #fff;
    transform: translateY(-7px);
  }

  .SurveyOptionBtn {
    width: 200px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px;
    border-color: #e7e7e7;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: justify;
    }

  .sticky-div {
      position: fixed;
  }

  .NextBtn {
    width: 150px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ebe9f0;
    background-color: #8864b3;
    border: 1px;
    border-color: #e7e7e7;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    position: initial;
    }

  .BtnGroupContainer{
    flex-direction: row;
  }
  .BtnGroup{
    width: 60px;
    height: 50px;
    letter-spacing: 0.5px;
    background-color: #ebe9f0;
    color:#432a58;
    font-size: 18px;
    border: 1.5px solid #ebe9f0;
    border-radius: 5px;
    cursor: pointer;

  }
.BtnGroupActive{
    background-color: #8864b3;
    border: 1.5px solid #8864b3;
    color: white;
    }

.giftBtn {
  width: 80px;
  height: 80px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ebe9f0;
  border: 1px;
  border-color: #e7e7e7;
  border-radius: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  left: 50%;



  }
/* make survey page done */

/* profile page */
.profile-header{
  margin: 1em 1em 1em 1em;
}
.profile_card_container{
  display:flex;
  flex-direction: row;
  display: flex; 
}

.profile_card{
  background-color: var(--theme-color);
  color: #ffffff;
  width: 40%;
  height:40em;
  border-radius: 0.5em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  transform: translate(20px, 20px);
  text-align: center;
  justify-content:center;
}

.profile_card_right{
  background-color: #ffffff;
  width: 50%;
  height:30em;
  border-radius: 0.5em;
  box-shadow: 0px 1px 2.5px 1px #dadada;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  transform: translate(20px, 20px);
  text-align: center;
  justify-content:center;
  margin-left: 30px;
}

.top-section{
  justify-content:left;
  margin-left: 0;
}

.top-section img{
  width: 40%;
  border-radius: 50%;
}

.top-section p{
  margin: 5px 0 5px 0;
}

.top-section .name{
  font-size: 30px;
  margin-top: 20px;
}

.edit-profile{
  margin-top: 80px;
  border: var(--theme-color-dark) solid 0.15em;
  border-radius: 0.3em;
  background-color: #fbfafc;
  color: var(--theme-color-dark);
  width: 8em;
  height: 2.25em;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  justify-content:right;
}
/* profile page done */